<h1>Edit Interview Scchdule</h1>

<%= form_with scope: :interview ,url: application_interview_path, method: :patch, local: true do |form| %>


  <p>
    <%= form.label :time %><br>
    <%= form.time_select :time %>
  </p>

  <p>
    <%= form.label :date %><br>
    <%= form.date_select :date %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>