<h1>Edit Interview Scchdule</h1>

<%= form_with scope: :interview ,url: application_interview_path, method: :patch, local: true do |form| %>


  <p>
    <%= form.label :time %><br>
    <%= form.time_select :time %>
  </p>

  <p>
    <%= form.label :date %><br>
    <%= form.date_select :date %>
  </p>
    <% if (@interview.status == 'rejected' && @interview.interview_confirmation == false) %>
      <p>
        <%= form.label :status %><br>
        <%= select_tag :status, options_for_select(Interview.statuses) %>
      </p>
      <% end %>
  <p>
    <%= form.submit %>
  </p>

<% end %>
