<h1>Apply For Job</h1>

<%= form_with scope: :application,url: job_applications_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label :salary %><br>
    <%= form.text_area :salary %>
  </p>

  <p>
    <%= form.label :about %><br>
    <%= form.text_field :about %>
  </p>

  <p>
    <%= form.label :comment %><br>
    <%= form.text_field :comment %>
  </p>

  <p>
    <%= form.label "Upload Resume" %><br>
    <%= form.file_field :resume %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>