<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
<!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">HRMACP</a>
      </div>
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', root_path %></li></ul>
      <%if current_user && current_user.role == 'admin' %>
        <ul class="nav navbar-nav">
          <li> <%= link_to 'Create Job', new_job_path, method: :get %></li></ul>
        <ul class="nav navbar-nav">
          <li ><%= link_to 'Update Interviews Statuses', interviews_path, method: :get %></li></ul>
        <ul class="nav navbar-nav">
          <li ><%= link_to 'Schedule Interviews', '/home/schedule_interview' %></li></ul>
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to 'Active Jobs', '/home/active_jobs' %></li></ul>
      <% end %>
      <ul class="nav navbar-nav">
        <li>  </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="disabled"><a h><span class="glyphicon glyphicon-user"></span> Sign Up</a></li></ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a data-method="delete" href="/users/sign_out"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </nav>
</head>
</html>
<div class="container">

  <div class="page-header">
    <h1>
       Active Jobs
    </h1>
  </div>
  <p id="alert"><strong><%= alert %></strong></p>
<table class = "table">
  <thead>
  <tr>
    <th >Title</th>
    <th >Description</th>
    <th >Experience</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <% @jobs.each do |job| %>
    <tbody class="">
    <tr>
      <td><%= job.title %></td>
      <td><%= job.description %></td>
      <td><%= job.experience %></td>
      <%if current_user && current_user.role == 'admin' %>

        <td> <%= link_to 'Close Job', job_path(job), method: :delete, class: "btn btn-danger btn-md" %> </td>
        <br>

      <%elsif current_user.role == 'user'%>
        <% @application = job.applications.where(user_id: current_user.id).last %>

        <% if !@application %>
        <td> <%= link_to 'Apply', new_job_application_path(job) %> </td>
        <br>
          <% else %>
            <% flash[:alert] = "You have already applied for #{job.title} job!" %>
          <% render '/home/active_jobs' %>
            <% end %>
      <% end %>
    </tr>
    </tbody>
  <% end %>
</table>
</div>