<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
<!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>-->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">HRMACP</a>
      </div>
      <ul class="nav navbar-nav">
        <li ><%= link_to 'Home', root_path %></li></ul>
      <%if current_user && current_user.role == 'user' %>
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to 'My Jobs', '/home/my_jobs' %></li></ul>
      <% end %>
      <%if current_user && current_user.role == 'admin' %>
        <ul class="nav navbar-nav">
          <li> <%= link_to 'Create Job', new_job_path, method: :get %></li></ul>
        <<ul class="nav navbar-nav">
      <li ><%= link_to 'Update Interviews Statuses', interviews_path, method: :get %></li></ul>
        <ul class="nav navbar-nav">
          <li ><%= link_to 'Schedule Interviews', '/home/schedule_interview' %></li></ul>
        <ul class="nav navbar-nav">
          <li ><%= link_to 'Active Jobs', '/home/active_jobs' %></li></ul>
      <% end %>
      <% if current_user %>
        <ul class="nav navbar-nav navbar-right">
          <li class="disabled"><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li></ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a data-method="delete" href="/users/sign_out"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li></ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a data-method="post" href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
        </ul>
      <% end %>
    </div>
  </nav>
</head>
</html>
<div class="container">
<div class="page-header">
  <h1><p>
    Job Title: <%= @job.title %>
  </p></h1>
</div>
<div class="panel panel-success">
    <div class="panel-heading "><p>
      <strong>Company Name: </strong>
      <%= @job.company_name %>
    </p> </div>
  <div class="panel-body "><p>
    <strong>Salary: </strong>
    <%= @application.salary %>
  </p> </div>
  <div class="panel-body "><p>
    <strong>Time: </strong>
    <% if @app.time.nil? %>
      Not Set
      <% else %>
        <%= @app.time.strftime("%I:%M %p") %>
      <% end %>
  </p> </div>
  <div class="panel-body "><p>
    <strong>Date: </strong>
    <% if @app.date.nil? %>
    Not Set
    <% else %>
      <%= @app.date %>
    <% end %>
  </p> </div>
  <div class="panel-body "><p>
    <strong>Status: </strong>
    <% if @app.interview_confirmation == true %>
      <%= @app.status %>
      <% if @app.status == 'accepted' %>
          <% if current_user.role == 'user'%>
        <button type="button" id="accept" class="btn btn-success btn-sm">Accept Offer</button>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#accept").click(function () {
                    <% User.update(current_user.id, :role => 'employee') %>
                    <% link_to home_my_jobs_path %>
                });
            });
        </script>
        <button type="button" id="reject" class="btn btn-danger btn-sm">Reject Offer</button>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#reject").click(function () {
                    <% Interview.update(@app.id, :status => 'rejected') %>
                    <% link_to home_my_jobs_path %>
                });
            });
        </script>
        <% end %>
      <% end %>
    <% else %>
      Not Set
    <% end %>
  </p> </div>
  <div class="panel-body "><p>
    <strong>Address: </strong>
    <%= @app.address %>
  </p> </div>
</div>
</div>

