<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
<!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->
  <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">HRMACP</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'Home', root_path %></li></ul>
      <ul class="nav navbar-nav">
        <li ><%= link_to 'Our Portfolio', home_portfolio_path %></li></ul>
      <%if current_user  %>
        <% if current_user.role == 'user' %>
        <ul class="nav navbar-nav">
        <li><%= link_to 'My Jobs', '/home/my_jobs' %></li></ul>
          <% end %>
        <% if current_user.role == 'employee' %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'My Profile', employer_path(current_user) %></li></ul>
          <ul class="nav navbar-nav">
            <li><%= link_to 'Update Profile', edit_employer_path(current_user) %></li></ul>
          <ul class="nav navbar-nav">
            <li><%= link_to 'Salary History', home_salary_history_path %></li></ul>
          <ul class="nav navbar-nav">
            <li><%= link_to 'Attendance History', home_attendance_history_path %></li></ul>
        <% end %>
        <% end %>
      <%if current_user && current_user.role == 'admin' %>
      <ul class="nav navbar-nav">
        <li> <%= link_to 'Create Job', new_job_path, method: :get %></li></ul>
      <ul class="nav navbar-nav">
        <li ><%= link_to 'Update Interviews Statuses', interviews_path, method: :get %></li></ul>
        <ul class="nav navbar-nav">
          <li ><%= link_to 'Schedule Interviews', '/home/schedule_interview' %></li></ul>
        <ul class="nav navbar-nav">
          <li ><%= link_to 'Active Jobs', '/home/active_jobs' %></li></ul>
        <ul class="nav navbar-nav">
          <li ><%= link_to 'Employees', employers_path, method: :get %></li></ul>
      <% end %>
      <% if current_user %>
      <ul class="nav navbar-nav navbar-right">
        <li class="disabled"><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li></ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a data-method="delete" href="<%=destroy_user_session_path %>"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li></ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a data-method="post" href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
        </ul>
      <% end %>
    </div>
  </nav>
</head>
</html>
<%if !current_user || current_user.role == 'user'  %>
<div class="container">
  <p id="alert"><strong><%= alert %></strong></p>
  <div class="page-header">
    <h1><p>
      Active Jobs
    </p></h1>
  </div>
  <% @jobs.each do |job| %>
    <div class="panel panel-primary">

      <div class="panel-heading "><p>
        <strong><%= job.title %> </strong>

      </p> </div>
      <div class="panel-body"><p><strong>Company Name: </strong>
        <%= job.company_name %>
      </p></div>
      <div class="panel-body"><p><strong>Description: </strong>
        <%= job.description %>
      </p></div>
      <div class="panel-body"><p><strong>Experience Required: </strong>
        <%= job.experience %>
      </p></div>
      <div class="panel panel-footer">
        <div>
          <% if current_user %>
          <% @application = job.applications.where(user_id: current_user.id).last %>

          <% if !@application %>
          <%= link_to 'Apply', new_job_application_path(job.id), class:"btn btn-info" %>
          <% else %>
              <button type="button" class="btn btn-info" disabled>Applied</button>
            <%# flash[:alert] = "You have already applied for #{job.title} at #{job.company_name} job!" %>
            <%# redirect_to root_path %>
          <% end %>
            <% else %>
            <%= link_to 'Apply', new_job_application_path(job.id), class:"btn btn-info" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

</div>
<% end %>
<% if current_user %>
<% if current_user.role == 'admin' %>
<div class="container">
  <div class="page-header">
    <h1><p>
      Employees
    </p></h1>
  </div>
  <div>
    <h2><strong>Total Employees: <%= @employees.count%> </strong></h2>
  </div>
  <div class="page-header">
    <h1><p>
      Salary
    </p></h1>
  </div>
  <div>
    <h2><strong>Due Salary: <%= @salary_sum %> </strong></h2>
  </div>
  <div class="page-header">
    <h1><p>
      Attendance
    </p></h1>
  </div>
  <div>
    <h2><strong>Present Employees: <%= @attendance %> </strong></h2>
  </div>
</div>
<% end %>
<% end %>
<% if current_user %>
  <% if current_user.role == 'employee' %>
    <div class="container">
      <div class="page-header">
        <h1><p>
          Attendance
        </p></h1>
      </div>
      <div><% if current_user.attendance_value == false %>
        <h2><strong>Please Mark your Attendance: </strong> <%= best_in_place current_user, :attendance_value,
                     as: :checkbox, :url => employer_path(current_user), collection: {false: "Absent", true:"Present"} %></h2>
          <%else %>
        <h2><strong>You have marked your Attendance for Date:<%=Date.today.strftime("%d/%m/%y")%></strong></h2>
          <% end %>
          </div>
    </div>
  <% end %>
<% end %>
