<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
<!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">HRMACP</a>
      </div>
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', root_path %></li></ul>
      <ul class="nav navbar-nav">
        <li ><%= link_to 'Our Portfolio', home_portfolio_path %></li></ul>
      <%if current_user && current_user.role == 'admin' %>
        <ul class="nav navbar-nav">
          <li> <%= link_to 'Create Job', new_job_path, method: :get %></li></ul>
        <ul class="nav navbar-nav">
          <li ><%= link_to 'Update Interviews Statuses', interviews_path, method: :get %></li></ul>
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to 'Schedule Interviews', '/home/schedule_interview' %></li></ul>
        <ul class="nav navbar-nav">
          <li ><%= link_to 'Active Jobs', '/home/active_jobs' %></li></ul>
        <ul class="nav navbar-nav">
          <li><%= link_to 'Employees', employers_path, method: :get %></li></ul>
      <% end %>
      <ul class="nav navbar-nav">
        <li>  </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="disabled"><a h><span class="glyphicon glyphicon-user"></span> Sign Up</a></li></ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a data-method="delete" href="/users/sign_out"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </nav>
</head>

<div class="container">
  <div class="page-header">
    <h1><p>
      Schedule Interviews
    </p></h1>

  </div>

<% @applications.each do |application|%>

      <div class="panel panel-primary">

        <div class="panel-heading "><p>
          <strong><%= application.name %> </strong>

        </p> </div>
        <div class="panel-body"><p>
          <%= application.email %>
        </p></div>
        <div class="panel-body"><p>
          <% if  application.present? && application.resume.present? %>
          <% link = rails_blob_url(application.resume, disposition: "attachment") %> <strong>Resume: </strong>
          <td><a href="<%= link %>">download</a></td>
      </p>
            <% end %>
        </div>

        <div class="panel panel-footer">
          <% if !application.interview %>
          <div>
            <td> <%= link_to 'Schedule Interview', new_application_interview_path(application), method: :get, class:"btn btn-info" %> </td>
          </div>
            <% else %>
            <div>
              <button type="button" class="btn btn-info" disabled>Interview Scheduled</button>
            </div>
            <% end %>
        </div>
      </div>
<% end %>

</div>