<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->
  <%= stylesheet_link_tag "card.css" %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>-->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">HRMACP</a>
      </div>
      <ul class="nav navbar-nav">
        <li ><%= link_to 'Home', root_path %></li></ul>
      <ul class="nav navbar-nav">
        <li><%= link_to 'Our Portfolio',  home_portfolio_path %></li></ul>
      <%if current_user  %>
        <% if current_user.role == 'user' %>
          <ul class="nav navbar-nav">
            <li><%= link_to 'My Jobs', '/home/my_jobs' %></li></ul>
        <% end %>
        <% if current_user.role == 'employee' %>
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to 'My Profile', employer_path(current_user) %></li></ul>
          <ul class="nav navbar-nav">
            <li ><%= link_to 'Update Profile', edit_employer_path(current_user) %></li></ul>
          <ul class="nav navbar-nav">
            <li><%= link_to 'Salary History', home_salary_history_path %></li></ul>
          <ul class="nav navbar-nav">
            <li><%= link_to 'Attendance History', home_attendance_history_path %></li></ul>
        <% end %>
      <% end %>
      <%if current_user && current_user.role == 'admin' %>
        <ul class="nav navbar-nav">
          <li> <%= link_to 'Create Job', new_job_path, method: :get %></li></ul>
        <ul class="nav navbar-nav">
          <li ><%= link_to 'Update Interviews Statuses', interviews_path, method: :get %></li></ul>
        <ul class="nav navbar-nav">
          <li ><%= link_to 'Schedule Interviews', '/home/schedule_interview' %></li></ul>
        <ul class="nav navbar-nav">
          <li ><%= link_to 'Active Jobs', '/home/active_jobs' %></li></ul>
      <% end %>
      <% if current_user %>
        <ul class="nav navbar-nav navbar-right">
          <li class="disabled"><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li></ul>
        <ul class="nav navbar-nav navbar-right">
          <li ><a href="/users/sign_out"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li></ul>
<!--        <ul class="nav navbar-nav navbar-right">-->
          <%#= form_tag destroy_user_session_path, method: :delete do %>
<!--            <li><button type="submit" class="btn-lg btn-dark btn-block glyphicon glyphicon-log-out" >Logout</button></li>-->
          <%# end %>
          <%#= link_to "delete", destroy_user_session_path, method: :get %>
<!--          <li><a data-method="get" href="<%#=destroy_user_session_path %>"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>-->
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li></ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a data-method="post" href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
        </ul>
      <% end %>
    </div>
  </nav>
</head>
</html>
<body>
<%= yield %>
</body>